
<div>
    <div class="section no-pad-bot">
        <section id="top">
            <div class="layer container">
            </div>
            <div class="splash layer" data-depth="0.10"><img style="padding-left: 20%" src="/HostelWorld/static/images/splash-contacto.png"></div>
        </section>
    </div>
    <div class="container" ng-app="vipApp" ng-controller="vipController">
        <div class="row">
            <div id="overview">
                <div class="col s12 m11 l11 offset-l1 offset-m1">
                    <div class="row">
                        <div class="col s12 m6 l5">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="promo" src="/HostelWorld/static/images/vip.jpg">
                                </div>
                                <div class="card-content">
                                    <table class="bordered">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="vcard-fullname" itemprop="name" >$!result.user.username</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="vcard-stat-count d-block materialize-red-text text-lighten-2">会员号 $!result.user.cardId</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="vip" style="display: flex;">
                                                #if($result.card.activatied==1)
                                                <div ng-show="cancelVip=='normal'" style="display: flex;">
                                                    <div class="vcard-fullname green-text text-lighten-2" itemprop="name">会员已激活</div>
                                                    <a id="vipbtn" ng-click="cancelVip='cancel'" class="waves-effect waves-light btn btn-modify btn-hidden">
                                                        取消资格
                                                    </a>
                                                    </div>
                                                    <div ng-show="cancelVip=='cancel'">
                                                        <span class="materialize-red-text text-lighten-2">确定要取消会员资格吗?(如果取消会员资格你的余额会存你你的银行卡中)</span>
                                                        <div>
                                                            <a  ng-click="cancel()" class="waves-effect waves-light btn">
                                                                确定
                                                            </a>
                                                            <a  class="waves-effect waves-light btn  grey" ng-click="cancelVip='normal'">
                                                                取消
                                                            </a>
                                                        </div>
                                                    </div>
                                                #else
                                                    <div ng-show="modifyActi=='normal'" style="display: flex;">
                                                    <div class="vcard-fullname materialize-red-text text-lighten-2" itemprop="name" >会员未激活</div>
                                                    <a id="vipbtn" ng-click="modifyActi='modify'" class="waves-effect waves-light btn btn-modify btn-hidden">
                                                        激活
                                                    </a>
                                                    </div>
                                                    <div ng-show="modifyActi=='modify'">
                                                        <form name="incomeFrom">
                                                        充值金额:
                                                        <input placeholder="1000"  ng-model="income" name="income" ng-minlength="4" required type="number" class="validate">
                                                        <span class="materialize-red-text text-lighten-2" ng-show="incomeFrom.income.$error.required || incomeFrom.income.$invalid">一次充值满1000元可激活</span>
                                                        <div>
                                                            <a ng-show="incomeFrom.income.$valid " ng-click="actived()"  class="waves-effect waves-light btn btn-modify">
                                                                充值并激活
                                                            </a>
                                                        </div>
                                                        </form>
                                                    </div>
                                                #end
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <div class="col s12 m6 l7">
                            <div class="card">
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="tabs">
                                            <li class="tab col s6 m2"><a ng-click="active='vip'">会员卡</a></li>
                                            <li class="tab col s6 m2"><a ng-click="active='info'">统计信息</a></li>
                                        </ul>
                                    </div>
                                    <div ng-show="active=='vip'" class="col s12"">


                                    <form class="Field" name="nameForm">
                                        <strong class="Field-label">用户名 :</strong>
                                        <div ng-show="nameModify=='normal'" id="username" class="Field-content" style="display: flex;">
                                        <div>
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">$!result.user.username</span>
                                        </div>
                                        <a id="usernamebtn" class="btn-floating btn-modify btn-hidden" ng-click="nameModify='modify'">
                                            <i class="large material-icons">mode_edit</i>
                                        </a>
                                    </div>
                                        <div ng-show="nameModify=='modify'" class="Field-content">
                                                <input placeholder="$!result.user.username"  ng-model="username" name="username"ng-minlength="3" ng-maxlength="10" required type="text" class="validate">
                                            <span class="materialize-red-text text-lighten-2" ng-show="nameForm.username.$error.required || nameForm.username.$invalid">用户名由3-10位的合法字符组成。</span>
                                            <div>
                                            <a  ng-show="nameForm.username.$valid " ng-click="modifyName()" class="waves-effect waves-light btn">
                                                保存
                                            </a>
                                            <a  class="waves-effect waves-light btn  grey" ng-click="nameModify='normal'">
                                                取消
                                            </a>
                                                </div>
                                            </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员号 :</strong><div class="Field-content">
                                        <div>
                                        <span class="vcard-stat-count d-block materialize-red-text text-lighten-2" id="cardId">$!result.card.cardId</span>
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员资格终止时间 :</strong><div class="Field-content" >
                                        <div>
                                            #if($result.card.activatied==0)
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">于 <local-time class="join-date">
                                                $!result.card.stopDate
                                                </local-time> 终止</span>
                                                #else
                                                    <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">会员资格已激活</span>
                                                #end
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员激活有效时间 :</strong><div class="Field-content">
                                        <div>
                                            #if($result.card.activatied==1)

                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">在 <local-time class="join-date">
                                                $!result.card.activatiedOverDate
                                                </local-time> 之前有效</span>
                                                #else
                                                    <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">会员资格未激活</span>
                                                #end
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员等级 :</strong><div class="Field-content">
                                        <div>
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">$!result.card.level </span> 级
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员卡余额 :</strong><div class="Field-content">
                                        <div>
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">$!result.card.balance </span> 元
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">总计消费 :</strong><div class="Field-content">
                                        <div>
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">$!result.card.consumption </span> 元
                                        </div>
                                    </div>
                                    </form>
                                    <form class="Field"><strong class="Field-label">会员积分 :</strong><div class="Field-content">
                                        <div>
                                            <span class="vcard-stat-count d-block materialize-red-text text-lighten-2">$!result.card.scocer </span> 分
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div ng-show="active=='info'" class="col s12">
                                   <info-panel></info-panel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/HostelWorld/static/js/vip.js"></script>
<script src="/HostelWorld/static/js/parallax.js"></script>
<script>
    $(document).ready(function(e) {
        var scene3 = document.getElementById('top');
        var parallax = new Parallax(scene3);
    });
</script>
<script src="/HostelWorld/static/js/js.js"></script>
<script src="/HostelWorld/static/js/btn-hide.js"></script>