<footer class="page-footer">
        <div class="container">
            <span class="white-text">Made by</span> <a class="black-text text-lighten-3" >Hostel World</a>
            <a class="right black-text text-lighten-3" href="https://github.com/leekane">LeeKane</a>
        </div>
</footer>
</footer>